@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using DocumentsManagementSystem.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Real-Time Collaborative Text Editor with SignalR</title>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

</head>
<body>
    <form action="editview" method="post">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">File Name:</label>
                        <input name="FileName" type="text" class="form-control" value="@Model.FileName" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="editTextArea">Content:</label>
                        <textarea name="FileContent" id="editTextArea" class="form-control" rows="8">@Model.FileContent</textarea>
                    </div>
                </div>
            </div>
            <input type="hidden" value="@Model.FileId" name="FileId" />
            <div class="row">
                <div class="col-md-6">
                    <input id="Submit1" type="Submit" class="btn btn-primary" value="Save" />
                </div>

                <div class="col-md-6">
                    <button asp-controller="home" asp-action="index" class="btn btn-primary">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>